@using DataLogic.Internationalization
@model  DataLogic.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @{
        if (!Model.IsEmpty || Model.RndUsers != null)
        {
            <h2 style="border-bottom: 2px solid #ccc; text-align: center;">@AppResources.ExistingUsers</h2>
            foreach (var user in Model.RndUsers)
            {
                <div class="card front-cards" style="width: 20rem;">
                    <img class="card-img-top image-size" src="@Url.Action("Image", "Home", new { id = user.Id} )" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">@Html.ActionLink(user.FirstName + " " + user.LastName, "Details", "Account", new { id = user.Id }, null)</h4>

                    </div>
                </div>
            }
            <span class="clear"></span>
        }
    }
</div>