@model List<DataLogic.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    @foreach (var user in Model)
    {
        var namn = user.FirstName + ' ' + user.LastName;
        <div class="search-result">
            <span><img src="@Url.Action("Image", "Home", new { id = user.Id} )" style="width:50px;height:50px; background: #FFFFFF; margin: auto;" /></span>@Html.ActionLink(namn, "Details", "Account", new {id = user.Id }, null);
        </div>
     }
</div>
